/* You can add global styles to this file, and also import other style files */

@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~" */
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
/* @import "~datatables.net-bs4/css/dataTables.bootstrap4.css"; */
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body{font-size: 14px !important;}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 42px !important;
}
a.paginate_button.current {
    border-radius: 20px !important;
}
.sidenav[_ngcontent-wot-c1] {
    width: 207px !important;
}
#sidebar ul.components {
    border-bottom: none !important;
}
.panel-body {
    padding: 0 !important;
}
.mat-drawer-content{
    overflow:hidden !important;
}
div.dataTables_filter>label>input {
    height: 30px;
}
input[type="checkbox"] {
    display: block !important;
}
.mat-checkbox-layout{
    display: block !important;
  }
.main-content{
    padding: 10px; 
   
}

.toolbar-spacer{
    flex:1 1 auto
} 
.logo-area{
    color: blue;
}



input[type="checkbox"] {
    display: none;
}

li{
    list-style: none;
}

.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
      }
      .search-form-field{
          width: 60%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color: #f5f5f5;
          border-radius: 5px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }


        .fill-remaining-space {
            /* This fills the remaining space, by using flexbox. 
               Every toolbar row uses a flexbox row layout. */
            flex: 1 1 auto;
          }
          .btn-add-edit{
            float: right;
          }
             /* for dialog pop-up */
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }

    
       /* mat-confirm-dialog (customised dialog) */
       .confirm-dialog-container .mat-dialog-container {
        border-radius: .25em .25em .4em .4em;
        padding: 0px;
    }
    .confirm-dialog-container .content-container{
        margin: 5px 5px 15px 5px;
        color: #8f9cb5;
        display: flex;
    }
    .confirm-dialog-container #close-icon{
        margin-left: auto;
        order: 2;
        font-weight: bolder;
    }
    .confirm-dialog-container #close-icon:hover{
    cursor: pointer;
    }
    
    .confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    background-color: #fc7169;
    color:white;
    border-radius: 0px;
    }
    
    .confirm-dialog-container #yes-button{
        height: 50px;
        width: 50%;
        background-color: #b6bece;
        color:white;
        border-radius: 0px;
    }
    
    .confirm-dialog-container span.content-span{
        padding:  35px 16px;
        text-align: center;
        font-size: 20px;
    }
    


    /* body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    } */
    
    /* p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    } */
    .modal-backdrop.fade
    {
      opacity: 0.5;
    }
    .modal-open .modal
    {
      opacity: 1;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    
    /* #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }
     */
    #sidebar.active {
        margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    
    /* ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    } */
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
   
    
    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
    
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
    }