﻿
@{
    ViewData["Title"] = "AccountManagement";
    Layout = "~/Views/Shared/_ArgonLayout.cshtml";
}
<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="col-lg-6 col-5 text-right" style="max-width: 100% !important;margin-bottom:12px!important;">
        <a href="#" class="btn btn-sm btn-neutral" id="btnNewAccount" data-toggle="modal" data-target=".bd-example-modal-lg">Add Acccount</a>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="table-responsive py-4">
                    <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">

                        <table id="myTable" class="table table-flush dataTable">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Ajay</td>
                                    <td>Suneja</td>
                                    <td>16 may,18</td>

                                </tr>
                                </tr>
                                </tr>
                                </tr>
                                </tr>
                                </tr>
                                </tr>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sandip</td>
                                    <td>xyz</td>
                                    <td>16 may,18</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" (submit)="onSubmit()">
                    <input type="hidden" class="form-control" id="Id" aria-describedby="Id">
                    <div class="form-group">
                        <label for="refrenceId">Refrence</label>
                        <input type="number" class="form-control" id="refrenceId" placeholder="Enter Refrence">

                    </div>
                    <div class="form-group">
                        <label for="accCode">Code</label>
                        <input type="text" class="form-control" id="accCode" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="accTitle">Title</label>
                        <input type="text" class="form-control" placeholder="Title" id="accTitle">
                    </div>
                    <div class="form-group chkActive">

                        <input type="checkbox" formControlName="IsActive" tabindex="4" id="IsActive">
                        <label for="accTitle">Active</label>
                    </div>


                    <div class="form-group">
                        <label>Type of Business</label>
                        <select class="form-control" style="height: 39px !important;">
                            <option>small</option>
                            <option>medium</option>
                            <option>large</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
</div>

<script>
    var baseUrl = "http://localhost:52310/api";
    $(document).ready(function () {
        $("#myTable").dataTable();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: baseUrl+"/accounts/AccoutListing",
            success: function (data) {
               // alert('Get Success');
                console.log(data);
            }
        });
    })
</script>