﻿
@{
    ViewData["Title"] = "JournalEntries";
    Layout = "~/Views/Shared/_ArgonLayout.cshtml";
}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="col-lg-6 col-5 text-right" style="max-width: 100% !important;margin-bottom:12px!important;">
        <a href="#" class="btn btn-sm btn-neutral" id="btnNewAccount" data-toggle="modal" data-target=".bd-example-modal-lg">Add Journal</a>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="table-responsive py-4">
                    <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">

                        <table id="journal-entries" class="table table-flush dataTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Code</th>
                                    <th>Title</th>

                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Journal Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" (submit)="onSubmit()">
                    <input type="hidden" class="form-control" id="Id" aria-describedby="Id">
                    <div class="form-group">
                        <label for="refrenceId">Refrence</label>
                        <input type="number" class="form-control" id="refrenceId" placeholder="Enter Refrence">

                    </div>
                    <div class="form-group">
                        <label for="accCode">Code</label>
                        <input type="text" class="form-control" id="accCode" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="accTitle">Title</label>
                        <input type="text" class="form-control" placeholder="Title" id="accTitle">
                    </div>
                    <div class="form-group chkActive">

                        <input type="checkbox" formControlName="IsActive" tabindex="4" id="IsActive">
                        <label for="accTitle">Active</label>
                    </div>


                    <div class="form-group">
                        <label>Type of Business</label>
                        <select class="form-control" style="height: 39px !important;">
                            <option>small</option>
                            <option>medium</option>
                            <option>large</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var baseUrl = "http://localhost:52310/api";
    $(document).ready(function () {


        //$("#journal-entries").DataTable({
        //        "processing": true,
        //        "serverSide": true,
        //        "filter": true,
        //        "orderMulti": false,
        //        "destroy": true,
        //        "ordering": true,
        //        "ajax": {
        //            "url": baseUrl +'/accounts/AccoutListing',
        //            "type": "GET",
        //            "datatype": "json"
        //        },
        //        "columns": [
        //            {
        //                "data": "Id", "Id": "Id", "autoWidth": true,
        //                mRender: function (data, type, full) {
        //                    var id = data;
        //                    return "<p style='background-color:#090;color: white;text-align: center;'>" + Id + "</p>";
        //                }
        //            }
        //            , { "data": "Code", "Code": "Code", "autoWidth": true }
        //            , { "data": "Title", "Title": "Title", "autoWidth": true }
        //        ]
        //    });



        //$.ajax({
        //    type: "GET",
        //    dataType: "json",
        //    url: baseUrl+"/accounts/AccoutListing",
        //    success: function (data) {
        //       // alert('Get Success');
        //        console.log(data);
        //    }
        //});
        getEmployeeData();
    })
    var getEmployeeData = function () {

        dataTableInitilize = $("#journal-entries").DataTable({

            processing: false, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            dom: '<"top"<"dt-filters"f>>rt<"dt-bottom"<"dt-information"li><"dt-pagination"p>>',
            ajax: {
                url: baseUrl + '/accounts/AccoutListing',
                type: "Post",
                datatype: "json",
                dataSrc: "",
                contentType: "application/json; charset=UTF-8",
                data: function (data) {
                    debugger
                    console.log(data);
                }
            },

            columns: [
                { data: "Id", name:"Id" },
                { data: "Code", name: "Code" },
                { data: "Title", name: "Title" }
               
            ]
            //,
            //preDrawCallback: function () {
            //    $("#empMovTable").LoadingOverlay("show");
            //},
            //drawCallback: function () {
            //    $(".loadingoverlay").remove();

            //},
            //rowCallback: function (settings) {
            //    $("#empMovTable").LoadingOverlay("hide");
            //}


        });



    }
</script>