<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul> -->
<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div> -->


<!-- <div class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="Refrence">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Refrence</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.refId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Code">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Code</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="parentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ParentID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.parentId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.isActive}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div> -->
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <button class="btn btn-primary pull-right" (click)="openFormModal()">Add</button>
      <div class="panel-heading"><h3>ASSESTS</h3>
       </div>
      <div class="panel-body">
        <ul class="list-group" *ngFor="let assest of Assests">
          <li class="list-group-item">
            <span class="badge bg-info float-right">
              <label>{{assest.quantity}}</label>
          </span> <b>{{assest.name}}</b>
          <div class="font-small-1" style="padding:0;line-height:3px"></div>
          </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <button class="btn btn-primary pull-right" (click)="openFormModal()">Add</button>
      <div class="panel-heading"><h3>CAPITAL</h3></div>
      <div class="panel-body">
        <ul class="list-group" *ngFor="let capital of Capital">
          <li class="list-group-item">
            <span class="badge bg-info float-right">
              <label>{{capital.quantity}}</label>
          </span> <b>{{capital.name}}</b>
          <div class="font-small-1" style="padding:0;line-height:3px"></div>
          </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <button class="btn btn-primary pull-right" (click)="openFormModal()">Add</button>
      <div class="panel-heading"><h3>LIBILITES</h3></div>
      <div class="panel-body">
        <ul class="list-group" *ngFor="let liability of Liabilities">
          <li class="list-group-item">
            <span class="badge bg-info float-right">
              <label>{{liability.quantity}}</label>
          </span> <b>{{liability.name}}</b>
          <div class="font-small-1" style="padding:0;line-height:3px"></div>
          </li>
      </ul>
      </div>
    </div>
    
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <button class="btn btn-primary pull-right" (click)="openFormModal()">Add</button>
      <div class="panel-heading"><h3>EXPENSE</h3></div>
      <div class="panel-body">
        <ul class="list-group" *ngFor="let expense of Expenses">
          <li class="list-group-item">
            <span class="badge bg-info float-right">
              <label>{{expense.quantity}}</label>
          </span> <b>{{expense.name}}</b>
          <div class="font-small-1" style="padding:0;line-height:3px"></div>
          </li>
      </ul>
    </div>
  </div>
</div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <button class="btn btn-primary pull-right" (click)="openFormModal()">Add</button>
      <div class="panel-heading"><h3>REVENUE</h3></div>
      <div class="panel-body">
        <ul class="list-group" *ngFor="let revenue of Revenue">
          <li class="list-group-item">
            <span class="badge bg-info float-right">
              <label>{{revenue.quantity}}</label>
          </span> <b>{{revenue.name}}</b>
          <div class="font-small-1" style="padding:0;line-height:0px"></div>
          </li>
      </ul>
    </div>
  </div>
</div>
</div>
