<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  position="start"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo-area">Orbital Sol</mat-toolbar>
    <mat-nav-list>
      <nav id="sidebar">
       
        <ul class="list-unstyled components">
           
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">General Ledger </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a routerLink="">Account List</a></li>                
                </ul>
            </li>
            <li>
                <a href="#">Account Payable</a>
            </li>
            <li>
                <a href="#">Account Receivable</a>
            </li>

            <li>
                <a href="#vochure" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vouchers  </a>
                <ul class="collapse list-unstyled" id="vochure">
                    <li>
                        <a href="#">Debit or payment voucher</a>
                    </li>
                    <li>
                        <a href="#">Cash or Credit voucher</a>
                    </li> 
                    <li>
                        <a href="#">Debit or payment voucher</a>
                    </li>
                    <li>
                        <a href="#">Cash or Credit voucher</a>
                    </li>                    
                </ul>
            </li>
            <li>
              
               <a href="#Reports" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                <ul class="collapse list-unstyled" id="Reports">
                    <li><a routerLink="/listing">Income Statement</a></li>
                    <li><a routerLink="/listing">Balance Sheet</a></li>
                    <li><a routerLink="/listing">Cash in hand</a></li>
                    <li><a routerLink="/listing">Bank Reconciliation </a> </li>
                    <li>
                        <a href="#generalJournal" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">General Journal </a>
                        <ul class="collapse list-unstyled" id="generalJournal">
                           <li><a routerLink="/GerenalJounal">Purchase journal</a></li>
                           <li><a routerLink="/listing">Sale journal</a></li>
                           <li><a routerLink="/listing">Cash receipts  journal</a></li>
                           <li><a routerLink="/listing">Cash payment/disbursement journal</a></li>
                           <li><a routerLink="/listing">Purchase return journal</a></li>
                           <li><a routerLink="/listing">Sales return journal</a></li>
                           <li><a routerLink="/listing">Journal proper/General journal</a></li>
                            
                        </ul>
                    </li>
                    
                </ul>
            </li>
           
           
        </ul>

      
    </nav>

       
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
     
      <!-- Material Theme -->
      <span class="toolbar-spacer"></span>
      Account
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="main-content">
    <ng-content></ng-content>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
