  <!-- <mat-toolbar>
    <span>Account</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar> -->
<!-- <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()"> -->
 

  <div class="modal-header">
    <h4 class="modal-title">Account</h4>
    <button type="button" class="close" aria-label="Close">
    X</button>
  </div>
 <div style="padding: 10px;">
  <form [formGroup]="service.formModel" name="formModel" autocomplete="off" (submit)="onSubmit()">
  
    <input type="hidden" class="form-control" id="Id"  formControlName="Id">  
    <input type="hidden" class="form-control" id="parentId"  formControlName="ParentId">
    <!-- first row   -->
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      <label for="accTitle">Title</label>
    <input type="text" class="form-control" placeholder="Title" id="accTitle" formControlName="Title"
    [ngClass]="{'is-invalid':service.formModel.get('Title').touched && service.formModel.get('Title').invalid}" required />
    <div class="invalid-feedback">
      <div>Title is required</div>
    </div>
   
  </div>
  </div>
  
  <div class="col-md-6">
      <div class="form-group">
        <label for="accCode">Code</label>
        <input type="text" class="form-control" id="accCode" formControlName="AccountCode"  placeholder="Code">
      </div>
    </div>
    </div>
    <!-- end first row -->
    <!-- second row -->
    <div class="row">
      <div class="col-md-6">
    <div class="form-group">
      <label for="accountType">Account Type</label>
      <select class="form-control" id="accountType" formControlName="Type">
          <option [value]="0" disabled>Select Account Type</option>
          <option *ngFor="let type of AccType" [value]="type.value"  [ngClass]="{'is-invalid':service.formModel.get('Type').touched && service.formModel.get('Type').invalid}" required>{{type.text}}</option>
        </select>
        <div class="invalid-feedback">
          <div>Title is required</div>
        </div>
    </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label for="parentId">Refrence</label>
          <select class="form-control" id="parentId" formControlName="ParentId">
              <option value="">Select Refrence</option>
              <option *ngFor="let refAccount of Accounts" [value]="refAccount.id">{{refAccount.title}}</option>
          </select>
        </div>
      </div>
    </div>
  <!-- third row -->
  <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      <label for="balance">Balance</label>
    <input type="number" class="form-control" placeholder="Balance" id="balance" formControlName="Balance"
    [ngClass]="{'is-invalid':service.formModel.get('Balance').touched && service.formModel.get('Balance').invalid}" required />
    <div class="invalid-feedback">
      <div>Balance is required</div>
    </div>
   
  </div>
  </div>
  
  <div class="col-md-6">
      <div class="form-group">
        <label for="accCode">Is Debit</label>
        <input type="checkbox"  id="accCode" formControlName="AccountCode"  placeholder="Code">
      </div>
    </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ok</button>
          <button  class="btn btn-primary btn-add-edit" [disabled]='!service.formModel.valid'>Submit</button>
        </div>
    </form>
 </div>


 
  
  