.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
.btn-add-edit{
  margin-bottom: -14px;
  margin-right: -12px;
}
  input.ng-invalid.ng-touched{
border-color :red;
  }
  /* .invalid-input{
   color: red;
  } */
  