<div class="container login-container">
   
        <div class="login-form-1">
            <h3>Login</h3>
            <form formGroup="service.formModel" name="formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group">
                    <input type="email" class="form-control" id="userEmail" formControlName="Email"  placeholder="Code" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="userPassword" formControlName="Password"  placeholder="Code"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
               
            </form>
        </div>
      
   
</div>